body {
    margin: 0;
    color:#232F3E;
    padding: 0;
}
#wrapper {
    width:1170px;
    margin: 0 auto;
}
h1, h2 {
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 15px;
    border-bottom: 1px solid #232F3E;
    margin-bottom: 20px;
    letter-spacing: 1px;
    margin-bottom: 0;
    color:white;
}
header {
    background: #232F3E;
    width: 100%;
    padding: 20px 0 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
header h1 {
    background: #232F3E;
    color: #F0991D;
    margin: 0;
    padding: 0;
}
header h2 {
    margin-top: 0;
}
header img {
    width:80px;
    height: 80Px;
    margin-right:40px;
}
h2 {
    border-bottom: none;
    margin-top:8px;
    font-size: 110%;
    font-style: italic;
    margin-bottom: 20px;
}
table {
    margin: 0 auto;
    color: #232F3E;
}
button {
    font-size:95%;
    border-radius:4px;
    padding:5px 13px;
    border: 1px solid #232F3E;
    cursor: pointer;
    background: #F5F5F5;
}
button:hover {
    background: #232F3E;
    color:#F0991D;
}
th>button:first-of-type {
    margin-left: 10px;
}
select {
    padding:3px;
    border: 1px solid grey;
}
table tr:first-of-type th {
    font-family: arial,sans-serif;
    padding-bottom: 5px;
    letter-spacing: 1px;
}
#inputText, #outputText {
    margin-top:10px;
}
#inputText {
    margin-right: 5px;
}
#outputText {
    margin-left: 5px;
}
textarea {
    border-radius: 4px;
    border: 1px solid grey;
    padding: 5px 10px;
}
footer {
    font-style: italic;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial,sans-serif;
    text-align: center;
    background:#232F3E;
    color: white;
    padding-top: 10px;
    padding-bottom: 15px;
}
footer p {
    margin: 0 auto;
    width: 90%;
    padding:10px;
}
footer p:first-of-type {
    margin-bottom: 0;
    font-weight: bold;
    padding-bottom: 0;
    color:#F0991D;
}
footer p:last-of-type {
    margin-top:8px;
    padding-top: 0;
}